*{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffff;
}

body{
    background-color: #042c44;
}
header{
    /* background-image: url(/img/wp2297997.jpg); */
    box-shadow: 0 5px 100px #041e2ef2;
    /* #0a5e92 */
}
.container{
    padding: 3% 10%;
}
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 500;
}
hr{
    width: -webkit-fill-available;
    border: 2px solid #ffff;
}
.search{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: rgb(33 62 78 / 63%);
    padding: 10px 15px;
    border-radius: 25px;
    /* min-width: 50px; */
    width: 30rem;
}
.search-icon{
    transition: all 0.3s ease-in-out;
}
.search-icon:hover{
    cursor: pointer;
}
input{
    width: -webkit-fill-available;
}
.search:focus{
    outline: auto;
}
input:hover{
    cursor:text;
}

.books{
    background-color: #20202024;
}
.container.book{
    width: 79%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 20px;
    background-color: #042c44;
    margin-top: 0.3rem;
}
.card{
    background-color: #093551e7;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px #093551e7;
    transition: 0.5s;
    position: relative;
    max-width: 300px;
}
.card img {
    width: 100%;
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}
.book_name{
    margin-top: 1rem;
    padding: 0 0.5rem;
    font-size: 22px;
}

#not-found-message{
    
    font-size: 25px;
    padding: 3rem;
    text-align: center;
    color: #ffffffad;
}




